body, h1, h2, h3, h4, h5{
    font-family: "Raleway", sans-serif;
}

body.w3-light-grey w3-content{
    max-width: 1600px;
}

.w3-third img{
    margin-bottom: 6px;
    opacity: 0.8;
    cursor: pointer;
}

.w3-third img:hover{
    opacity: 1;
}

button {
    border-radius: 5px;
}

#mySidebar{
    z-index: 3;
    width: 300px;
    font-weight: bold;
}

#myOverlay{
    cursor:pointer;
}

div.w3-main{
    margin-left: 300px;
}

div.w3-hide-large{
    margin-top: 83px;
}

div.w3-content w3-justify{
    max-width: 600px;
}

div.w3-row-padding{
    margin: 0 -16px;
}

div.w3-content w3-justify{
    max-width: 600px;
}

div.w3-container w3-padding-small w3-center w3-grey{
    width: 95%;
}

div.w3-container w3-padding-small w3-center w3-grey{
    width: 85%;
}

div.w3-container w3-padding-small w3-center w3-grey{
    width: 80%;
}

div.w3-row-padding{
    margin: 0 -16px;
}

div.w3-content{
    max-width: 600px;
}

div.w3-content w3-justify{
    max-width: 600px;
}

div.w3-row-padding{
    margin: 0 -16px;
}

div.w3-third img{
    width: 100%;
}
